

body {
  background-size: 1280px 900px;
}

.background {

}


h1 {
  display: block;
  font-size: 5rem;
  align-items: center;
  vertical-align: middle;
  color:#E8E7E8;
  border-bottom: 3px #A1ABB2 solid;
  position:absolute;
  background-color: #2E3042;
}

.upper {
  font-size: 1.5rem;
  vertical-align: middle;
  padding:3%;
  margin-left: 15%;
  left: 20%;
  opacity: .9;


}

.lower {
  display: block;
  vertical-align: middle;
  margin:3%;
  margin-top: 30px;
  margin-left: 29%;
  margin-right: 4%;
  padding: 5px;
}

#word {
  min-height: 200px;
  background-color: #EBF0FC;
  font-size: 7rem;
  padding:2%;
  position:relative;
  align-items: center;
  opacity: .7;
  padding-top: 35px;
  border-top: 6px solid #A1ABB2;
  border-bottom: 6px solid #A1ABB2;


}

.lightsOut {
  background-color: black;
  color: white;
}

.questions {
  visibility: hidden;
  display: block;
  position: absolute;
  vertical-align: middle;
  width: 80%;
  height: 67%;
  margin: 10%;
  background-color:#FFF8F8;
  z-index: 10;
  margin-top: 5.5%;
  border:solid 2px #A1ABB2;
}

.qcontent {
  padding:20px;
  border-bottom: solid #A1ABB2 2px;
  /*position:relative;*/
  /*display: block;*/
  /*align-items: center;*/
  border-radius: 5px;

}

.answerButton {
  position:relative;
  display: block;
  background-color: #4AAEFF;
  border: black 2px solid;
  padding: 15px;
  margin: 10px;
  color: #FFF8F8;
  border-radius: 15px;
}

input {
  padding: 5px;
}

.materialSelect {
  min-height: 20px;
  border: 2px #A1ABB2 solid;
}

.wpm {
  display: block;
  vertical-align: middle;
  top: 30px;
  border: 2px #A1ABB2 solid;
}

.btn {
  padding: 2px;
}
